{{! <div class='card p-5 m-5 card-dark'>
  <ul>
    <li class='item'>1111</li>
    <li class='item'>2222</li>
    <li class='item'>3333</li>
    <li class='item'>4444</li>
  </ul>
</div>
<div class='card p-5 m-5 card-dark'>
  <ul>
    <div class='Item'>1111</div>
    <p class='Item'>2222</p>
    <p class='Item'>3333</p>
    <div class='Item'>4444</div>
    <article class='Item'>55656</article>
    <div class='Item'>4444</div>
  </ul>
</div> }}

{{! <div class='card p-5 m-5 card-dark'>
  <input class='input-dark' required />
  <input class='input-dark' type='number' />
</div> }}

<div class='card p-5 m-5 card-dark'>
  <a
    class='link'
    href='https://naurok.ua/student/tests'
  >Click me</a>
</div>

<div id='test' class='card p-5 m-5 card-dark active'>
  Якір
</div>

<div class='card p-5 m-5 card-dark'>
  <input />
</div>

<div class='card p-5 m-5 card-dark focus'>
  <input />
</div>