<main class='p-5'>
  <div class='card p-5'>
    <h1>
      Hello word!
    </h1>
    <h2>
      Hello word!
    </h2>
    <p>Hello word!</p>
    <p class='dashed'>Hello word!</p>
    <p class='wavy'>Hello word!</p>
    <p class='over-line p-r'>Hello word!</p>
    <p class='line-trough p-r solid'>Hello word!</p>
    <p class='double solid p-r'>Hello word!</p>
    <span class='inv'>Test</span>

    <div style='background: gray ;'>
      <span class='block'>Block</span>
      <span>INline-block</span>
      <span
        class='in-block'
        style='margin: 10px 40px 100px 200px;'
      >Inline-block</span>
    </div>

  </div>
</main>