@layer component, variant, main, adaptive;

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('/font/HelveticaNeueBold.ttf');
}

@layer component {
  .button {
    text-decoration: none;
    color: var(--color-black);
    padding: var(--spacing-2);
    border-radius: var(--radius-1);
    text-align: center;
    border: 1px solid transparent;
  }

  .click {
    transition: var(--transition-1);
  }

  .click:hover {
    opacity: var(--opacity-1);
    cursor: pointer;
  }

  .click:active {
    opacity: var(--opacity-2);
  }

  .icon {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .double_line {
    line-height: var(--line-height);
  }

  .page_section {
    display: flex;
    justify-content: center;
  }
}

@layer variant {
  .button_primary {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
  .button_secondary {
    color: var(--color-primary);
    border-color: var(--color-primary);
    border-width: 2px;
  }

  .button_secondary:hover {
    background-color: rgba(97, 31, 105, 0.4);
  }

  .page_section_light {
    background-color: var(--color-light);
  }

  .feat_icon {
    height: 48px;
    width: 48px;
  }

  .icon_arrow {
    height: 14px;
    width: var(--spacing-5);
    background-image: url('/svg/arrow-right.svg');
  }
}

body {
  font-family: 'HelveticaNeueBold';
}

:root {
  --color-white: #fff;
  --color-black: #000000;
  --color-primary: #611f69;
  --color-light: #f4ede4;

  --page-width-big: 1200px;
  --page-width-medium: 1000px;
  --page-width-small: 700px;

  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 20px;
  --spacing-5: 24px;
  --spacing-6: 28px;
  --spacing-7: 32px;
  --spacing-8: 36px;

  --size-1: 14px;
  --size-2: 18px;
  --size-3: 22px;
  --size-4: 26px;
  --size-5: 30px;
  --size-6: 34px;

  --radius-1: 4px;

  --opacity-1: 0.7;
  --opacity-2: 0.5;
  --transition-1: 0.7s;

  --line-height: 1.5em;
}

@layer main {
  .page {
    display: grid;
  }

  .page_content {
    width: 100%;

    padding: var(--spacing-3);
  }

  .hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 210px;

    min-height: 650px;
  }
  .hero {
    display: flex;
    max-width: 425px;
    height: 100%;
    align-items: center;
    margin-top: 50px;
  }

  .hero_content {
    display: grid;
    gap: var(--spacing-5);
    position: relative;
  }

  .brands {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--spacing-8);
    row-gap: var(--spacing-4);
    flex-wrap: wrap;
  }

  .hero_img {
    position: absolute;
    left: 550px;
    top: 0;
  }

  .hero_label {
    font-size: var(--size-1);
  }

  .hero_title {
    font-size: 50px;
  }

  .hero_info {
    font-size: var(--size-2);
  }

  .hero_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-5);
  }

  .features_section {
    padding-top: 150px;
    padding-bottom: 150px;

    display: grid;
    gap: var(--spacing-5);
    background-image: url('/img/features.png');
    background-repeat: no-repeat;
    background-position: top right;
  }

  .features_title {
    font-size: var(--size-6);
  }

  .features_description {
    font-size: var(--size-2);

    max-width: 515px;
  }

  .feat_card {
    display: grid;
    padding: var(--spacing-3);
    background-color: var(--color-white);
    gap: var(--spacing-3);

    grid-template-rows: min-content;

    font-size: var(--size-2);

    grid-template-rows: min-content min-content 1fr min-content;
  }

  .feat_link {
    justify-self: flex-end;
  }

  .features_grid_4 {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: var(--spacing-3);
  }

  .features_grid_4 > .feat_card:first-of-type {
    grid-row: 1 / 3;
  }

  /* ......................................................... */

  .features_section_secondary {
    padding-bottom: 50px;
    margin-bottom: 50px;
    height: 110%;

    display: grid;
    justify-items: flex-end;
    gap: var(--spacing-5);
    background-image: url('/img/features-secondary.png');
    background-repeat: no-repeat;
    background-position: top left;
  }

  .features-secondary-cont {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
    width: 50%;
  }

  .features_title_secondary {
    font-size: var(--size-6);
  }

  .features_description_secondary {
    font-size: var(--size-2);

    max-width: 515px;
  }

  .feat_card_secondary {
    display: grid;
    padding: var(--spacing-3);
    background-color: var(--color-white);
    gap: var(--spacing-1);

    grid-template-rows: min-content;

    font-size: var(--size-2);

    grid-template-rows: min-content min-content 1fr min-content;
  }

  .feat_link_secondary {
    justify-self: flex-end;
  }

  .features_secondary_grid_4 {
    display: grid;
    height: min-content;
    width: 930px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 125px);

    gap: var(--spacing-3);
  }

  .features_secondary_grid_4
    > .feat_card_secondary:nth-child(1) {
    grid-row: 1 / 3;
  }
  .features_secondary_grid_4
    > .feat_card_secondary:nth-child(2) {
    grid-row: 1 / 3;
  }

  /* .............................................. */

  .deliveroo-section {
    display: flex;
    width: var(--page-width-medium);
    height: max-content;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: var(--spacing-8);
  }

  .deliveroo-img {
    width: 560px;
    height: 225px;
  }

  .deliveroo-container {
    display: flex;
    flex-direction: column;

    gap: var(--spacing-5);
  }

  .deliveroo-brand {
    width: 150px;
    height: 40px;
  }

  /* ................................................. */

  .about_slack {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: var(--spacing-3);
    max-height: 500px;
    height: 100%;
  }

  .about_slack_title {
    font-size: var(--size-6);

    display: flex;
    justify-content: center;
  }

  .about_card_cont {
    display: flex;
    flex-direction: row;
    gap: 75px;
    justify-content: center;
  }

  .about_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-1);
    width: min-content;
    height: 100%;

    box-shadow: 0px 25px 55px -14px rgba(0, 0, 0, 0.15);
  }

  .about_card_img {
    margin-bottom: var(--spacing-1);
  }

  .about_card_title {
    color: #454245;
    font-size: var(--size-1);
    padding-left: 12px;
  }

  .about_card_description {
    height: 100%;
    padding: 12px;
    padding-top: 0;
    padding-bottom: var(--spacing-4);
  }

  .about_card_link_cont {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }

  .about_card_link {
    color: #1264a3;
    text-decoration: none;
  }
}

@layer adaptive {
  @media all and (1260px <= width) {
    .page_content {
      max-width: var(--page-width-big);
    }
  }

  @media all and (1000px <= width < 1260px) {
    .page_content {
      max-width: var(--page-width-medium);
    }

    .hero_img {
      left: 518px;
      height: 300px;
    }
  }

  @media all and (width < 1000px) {
    .page_content {
      max-width: var(--page-width-small);
    }

    .hero_img {
      position: static;
      width: 100%;
      order: -1;
    }

    .hero_content {
      max-width: 100%;
    }

    .features_grid_4 {
      grid-template-columns: repeat(3, 1fr);
    }

    .features_grid_4 > .feat_card:first-of-type {
      grid-row: 1 / 3;
    }

    .features_section {
      background: none;
    }
  }

  @media all and (width < 600px) {
    .features_grid_4 {
      grid-template-columns: repeat(2, 2fr);
    }
  }

  @media all and (width < 400px) {
    .hero_buttons {
      grid-template-columns: 1fr;
      gap: var(--spacing-2);
    }

    .features_grid_4 {
      grid-template-columns: 1fr;
    }
  }
}
