.card > h1{
    color: green;
    -webkit-text-fill-color: blue;
    -webkit-text-stroke: 1px red;
}
h2 {
    writing-mode: vertical-rl;
}
p {
    text-decoration: underline dotted green;
}

.over-line {
    text-decoration-line: overline;
}
.p-r {
    text-decoration-color: red;
}

.line-trough {
    text-decoration-line: line-through;
}
.solid {
    text-decoration-style: solid;
}
p.double:hover {
    text-decoration-style: double;
    text-decoration-line: line-through;
}
.dashed {
    text-decoration-style: dashed;
}
.wavy {
    text-decoration-style: wavy;
}

* {
    font-family: 'Comfortaa', sans-serif;
    font-display: swap;
}

span {
    font-style: italic;
}

.inv {
    display: none;
}

.block {
    display: block;
    margin: 10px;
}

.in-block {
    display: inline-block;
    background: rgb(175, 173, 173);
}