:root {
  --space-s: 8px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-b: 24px;

  --color-border: #202a3b;
  --color-primary: #885ffb;
  --color-white: #fff;
  --color-text: #9CA3AF;
  --color-title: #212529;
  --color-grey: #f8f9fa;
  --color-secondary: #6c757d;

  --border-radius-secondary: 10px;
  --border-radius-primary: 24px;

  --weight-title: 600;
  --weight-text: 400;

  --page-width: 1200px;
}
