<div class="relative click">
  <div class="field field--select">
    <span class="text text--light">
      Choose...
    </span>
  </div>
  <select class="field__select">
    <option value="1">DOG</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
</div>